ChallengeResponseAuthentication no
UsePAM no
PasswordAuthentication no
AuthorizedKeysCommand      /usr/local/bin/userkeys.sh
AuthorizedKeysCommandUser  nobody
Subsystem       sftp    /usr/lib/openssh/sftp-server
